atdev-exercise6/src/main/mule/atdev-exercise6.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="000459f6-81c4-4123-ab1f-ddfc42f9b9fd" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<db:config name="Database_Config" doc:name="Database Config" doc:id="f3eb5b1a-7938-4d6e-9e71-dc7b9362c25c" >
		<db:my-sql-connection host="localhost" port="3306" user="root" password="root" database="mulesoft" />
	</db:config>
	<flow name="atdev-exercise6Flow" doc:id="eeb0519f-d4f7-4a6b-bbfb-e2914923469b" >
		<http:listener doc:name="Listener" doc:id="f30dd737-0ec9-4ed9-bf0b-2006c13ae685" config-ref="HTTP_Listener_config" path="/users/{name}"/>
		<db:select doc:name="Select" doc:id="709c2348-1c88-454a-8788-892fc0fb40e0" config-ref="Database_Config">
			<db:sql ><![CDATA[select * from users where uname= :uname]]></db:sql>
			<db:input-parameters ><![CDATA[#[{'uname' : attributes.uriParams.name}]]]></db:input-parameters>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="faaed50f-a6d8-4385-bfd6-0fd60ac6cd6a" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
