practiceExercise/atdev-practiceex3/src/main/mule/atdev-practiceex3.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="f8452c6b-800e-4940-8521-0729f888b956" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="atdev-practiceex3Flow" doc:id="52981a79-61d0-4b4c-9375-b878409d4e3d" >
		<http:listener doc:name="Listener" doc:id="b38c3322-d564-4d9a-92c7-64e98765ea24" config-ref="HTTP_Listener_config" path="/getCustomerInfo"/>
		<set-payload value="#['Welcome' ++' '++ attributes.queryParams.customerName as String ++'.'++ 'Your location is'++' '++ &#10;(attributes.queryParams.customerLocation default 'India')]" doc:name="Set Payload" doc:id="da88b8d0-c4e4-4adb-b8d8-df0ec4da75b7" />
		<logger level="INFO" doc:name="Logger" doc:id="7cb2ff5c-9915-4570-9bd0-aab0341c4837" />
	</flow>
</mule>
